Dataset Understanding
Dataset Details

Dataset Name: Online Retail Dataset

Source: https://archive.ics.uci.edu/ml/datasets/online+retail

Domain: Retail / E-commerce

File Used: online_retail.csv

Each row represents one product transaction line item in an online retail invoice.

Explanation of 6 Columns

InvoiceNo – Unique invoice number for each purchase transaction

StockCode – Unique product/item code

Description – Name/description of the product sold

Quantity – Number of units purchased in the transaction

InvoiceDate – Date and time when the invoice was generated

UnitPrice – Price per unit of the product

Expected Data Issues

Missing values in CustomerID and Description

Duplicate invoice-product combinations and inconsistent text formatting

In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\ujwal\Downloads\Online Retail.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [2]:
df.shape

(541909, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.isna().sum().sort_values(ascending=False)

CustomerID     135080
Description      1454
StockCode           0
InvoiceNo           0
Quantity            0
InvoiceDate         0
UnitPrice           0
Country             0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(5268)

In [7]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [12]:
df['CustomerID'] = df['CustomerID'].fillna(df['CustomerID'].median())

In [13]:
df['Description'] = df['Description'].fillna("Unknown")

In [14]:
df['Description'] = df['Description'].str.strip().str.lower()

In [15]:
df = df.drop_duplicates()

In [16]:
df = df.rename(columns={
    'InvoiceNo': 'invoice_no',
    'StockCode': 'stock_code',
    'InvoiceDate': 'invoice_date',
    'UnitPrice': 'unit_price'})

In [17]:
df.isna().sum()

invoice_no      0
stock_code      0
Description     1
Quantity        0
invoice_date    0
unit_price      0
CustomerID      0
Country         0
dtype: int64

In [19]:
df['total_revenue'] = df['Quantity'] * df['unit_price']

In [20]:
df['invoice_month'] = df['invoice_date'].dt.month

In [21]:
df['high_value_txn'] = df['total_revenue'] > 100

In [22]:
df.groupby('Description')['total_revenue'] \
  .sum() \
  .sort_values(ascending=False) \
  .head(5)

Description
dotcom postage                        206245.48
regency cakestand 3 tier              164459.49
white hanging heart t-light holder     99612.42
party bunting                          98243.88
jumbo bag red retrospot                92175.79
Name: total_revenue, dtype: float64

In [23]:
df['Description'].value_counts().head(5)

Description
white hanging heart t-light holder    2357
regency cakestand 3 tier              2189
jumbo bag red retrospot               2156
party bunting                         1720
lunch bag red retrospot               1625
Name: count, dtype: int64

In [24]:
pd.pivot_table(
    df,
    values='total_revenue',
    index='invoice_month',
    aggfunc='sum')

               total_revenue
invoice_month
1                 558448.560
2                 497026.410
3                 682013.980
4                 492367.841
5                 722094.100
6                 689977.230
7                 680156.991
8                 681386.460
9                1017596.682
10               1069368.230
11               1456145.800
12               1179424.670